<div class="slider_main">
    <div class="container">
      <div id="owl-demo" class="owl-carousel owl-theme">
        <div class="item"><img src="images/WE-sell.jpg"></div>
        <div class="item"><img src="images/HOW-it-work.jpg"></div>
        <div class="item"><img src="images/Free-Shipping.jpg"></div>
        <div class="item"><img src="images/banner.jpg"></div>
      </div> 
    </div><!-- Container End -->
  </div><!-- slider_main End -->

  <div class="vw_gallery_main">
       <div class="container">
           <div class="vw_gall_content">
               <div class="row">
                   <div class="col-md-2 col-sm-2 col-xs-12">
                       <div class="vw_advertisement">
                           <img src="images/advertisement.jpg" alt="advertisement">
                       </div><!-- vw_advertisement End --> 
                   </div><!-- col-md-2 col-sm-2 col-xs-12 End -->
                   <div class="col-md-8 col-sm-8 col-xs-12">
                       <div class="vw_gall_box clearfix">
                           <div class="vw_box_small cst_35">
                               <div class="vw_box_img  sign_up_bg">
                                   <a href="javascript:void(0)">
                                      <img src="images/sign_up.png" alt="sign_up">
                                      <span>Sign up</span>
                                   </a>
                               </div><!-- vw_box_img End -->
                           </div><!-- vw_box_large End -->
                           <div class="vw_box_small cst_65">
                               <div class="vw_box_img  my_account">
                                   <a href="javascript:void(0)">
                                       <img src="images/my_account.png" alt="my_account">
                                       <span>My Account</span>
                                   </a>
                               </div><!-- vw_box_img End -->
                           </div><!-- vw_box_large End -->
                           <div class="vw_box_large cst_65">
                               <div class="vw_box_img play_arcade">
                                   <a href="javascript:void(0)">
                                       <img src="images/play_arcade.png" alt="play_arcade">
                                       <span>Play Arcade and Earn!</span>
                                   </a>
                               </div><!-- vw_box_img End -->
                           </div><!-- vw_box_large End -->
                           <div class="vw_box_small cst_35">
                               <div class="vw_box_img  live_action">
                                   <a href="javascript:void(0)">
                                       <img src="images/live_auctions.png" alt="live_auctions">
                                       <span>Live Auctions</span>
                                   </a>
                               </div><!-- vw_box_img End -->
                           </div><!-- vw_box_large End -->
                           <div class="vw_box_small cst_35">
                               <div class="vw_box_img buy_now_store">
                                   <a href="javascript:void(0)">
                                       <img src="images/buy_now_store.png" alt="buy_now_store">
                                       <span>Store</span>
                                   </a>
                               </div><!-- vw_box_img End -->
                           </div><!-- vw_box_large End -->
                           <div class="vw_box_small cst_65">
                               <div class="vw_box_img my_rewards">
                                   <a href="javascript:void(0)">
                                       <img src="images/my_rewards.png" alt="my_rewards">
                                       <span>My Rewards</span>
                                   </a>
                               </div><!-- vw_box_img End -->
                           </div><!-- vw_box_large End -->
                           <div class="vw_box_small cst_65">
                               <div class="vw_box_img forum">
                                   <a href="javascript:void(0)">
                                       <img src="images/forum.png" alt="forum">
                                       <span>Forum</span>
                                   </a>
                               </div><!-- vw_box_img End -->
                           </div><!-- vw_box_large End -->
                           <div class="vw_box_small cst_35">
                               <div class="vw_box_img news">
                                   <a href="javascript:void(0)">
                                       <img src="images/news.png" alt="news">
                                       <span>News</span>
                                   </a>
                               </div><!-- vw_box_img End -->
                           </div><!-- vw_box_large End -->
                           <div class="vw_box_large cst_35">
                               <div class="vw_box_img purchase">
                                   <a href="javascript:void(0)">
                                       <img src="images/purchase.png" alt="purchase">
                                       <span>Purchase Coins</span>
                                   </a>
                               </div><!-- vw_box_img End -->
                           </div><!-- vw_box_large End -->
                           <div class="vw_box_small cst_65">
                               <div class="vw_box_img voucher">
                                   <a href="javascript:void(0)">
                                       <img src="images/voucher.png" alt="voucher">
                                       <span>Purchase Vouchers</span>
                                   </a>
                               </div><!-- vw_box_img End -->
                           </div><!-- vw_box_large End -->
                       </div><!-- vw_gall_box End -->
                   </div><!-- col-md-8 col-sm-8 col-xs-12 End -->
                   <div class="col-md-2 col-sm-2 col-xs-12">
                       <div class="vw_advertisement">
                           <img src="images/advertisement_1.jpg" alt="advertisement">
                       </div><!-- vw_advertisement End --> 
                   </div><!-- col-md-2 col-sm-2 col-xs-12 End -->
                   <div class="col-md-12 col-sm-12 col-xs-12">
                       <div class="vw_advertisement_footer">
                           <img src="images/vw_advertisement_footer.jpg" alt="vw_advertisement_footer">
                       </div><!-- vw_advertisement_footer End -->
                   </div><!-- col-md-12 End -->
               </div><!-- row End -->
           </div><!-- vw_gall_content End -->
           <div class="popular_auction_content">
               <h2>popular products and auctions</h2>
               <div class="row">
                   <div class="col-md-3 col-sm-4">
                       <div class="doc_popular_auction">
                           <div class="doc_popular_auction_box clearfix">
                               <h2>Product Title</h2>
                               <div class="products_img_cont">
                                   <img src="images/live_auction.jpg" alt="live_auction">
                               </div><!-- products_img_cont End -->
                               <div class="products_sub_cont">
                                   <lable class="sub_cont_vauchers">
                                       107 Vouchers
                                   </lable><!-- sub_cont_vauchers End -->
                                   <lable class="sub_cont_time">
                                       00 : 00 : 10
                                   </lable><!-- sub_cont_time End -->
                                   <lable class="sub_cont_lat_bidder">
                                       last bidder
                                   </lable><!-- sub_cont_lat_bidder End -->
                                   <lable class="sub_cont_not">
                                       Not Met
                                   </lable><!-- sub_cont_not End -->
                               </div><!-- products_sub_cont End -->
                               <div class="popular_auction_btn">
                                   <button type="button" class="btn btn-lg btn-fb waves-effect waves-light">bid</button>
                                   <button type="button" class="btn btn-lg btn-fb waves-effect waves-light"><i class="zmdi zmdi-shopping-cart"></i> Add to cart</button>
                                   <button type="button" class="btn btn-lg btn-fb waves-effect waves-light"><i class="fa fa-facebook left"></i> Share</button>
                               </div><!-- popular_auction_btn End -->
                           </div><!-- doc_popular_auction_box End -->
                       </div><!-- doc_popular_auction End -->
                   </div><!-- col-md-3 col-sm-3 End -->
                   <div class="col-md-3 col-sm-4">
                       <div class="doc_popular_auction">
                           <div class="doc_popular_auction_box clearfix">
                               <h2>Product Title</h2>
                               <div class="products_img_cont">
                                   <img src="images/live_auction.jpg" alt="live_auction">
                               </div><!-- products_img_cont End -->
                               <div class="products_sub_cont">
                                   <lable class="sub_cont_vauchers">
                                       107 Vouchers
                                   </lable><!-- sub_cont_vauchers End -->
                                   <lable class="sub_cont_time">
                                       00 : 00 : 10
                                   </lable><!-- sub_cont_time End -->
                                   <lable class="sub_cont_lat_bidder">
                                       last bidder
                                   </lable><!-- sub_cont_lat_bidder End -->
                                   <lable class="sub_cont_not">
                                       Not Met
                                   </lable><!-- sub_cont_not End -->
                               </div><!-- products_sub_cont End -->
                               <div class="popular_auction_btn">
                                   <button type="button" class="btn btn-lg btn-fb waves-effect waves-light">bid</button>
                                   <button type="button" class="btn btn-lg btn-fb waves-effect waves-light"><i class="zmdi zmdi-shopping-cart"></i> Add to cart</button>
                                   <button type="button" class="btn btn-lg btn-fb waves-effect waves-light"><i class="fa fa-facebook left"></i> Share</button>
                               </div><!-- popular_auction_btn End -->
                           </div><!-- doc_popular_auction_box End -->
                       </div><!-- doc_popular_auction End -->
                   </div><!-- col-md-3 col-sm-3 End -->
                   <div class="col-md-3 col-sm-4">
                       <div class="doc_popular_auction">
                           <div class="doc_popular_auction_box clearfix">
                               <h2>Product Title</h2>
                               <div class="products_img_cont">
                                   <img src="images/live_auction.jpg" alt="live_auction">
                               </div><!-- products_img_cont End -->
                               <div class="products_sub_cont">
                                   <lable class="sub_cont_vauchers">
                                       107 Vouchers
                                   </lable><!-- sub_cont_vauchers End -->
                                   <lable class="sub_cont_time">
                                       00 : 00 : 10
                                   </lable><!-- sub_cont_time End -->
                                   <lable class="sub_cont_lat_bidder">
                                       last bidder
                                   </lable><!-- sub_cont_lat_bidder End -->
                                   <lable class="sub_cont_not">
                                       Not Met
                                   </lable><!-- sub_cont_not End -->
                               </div><!-- products_sub_cont End -->
                               <div class="popular_auction_btn">
                                   <button type="button" class="btn btn-lg btn-fb waves-effect waves-light">bid</button>
                                   <button type="button" class="btn btn-lg btn-fb waves-effect waves-light"><i class="zmdi zmdi-shopping-cart"></i> Add to cart</button>
                                   <button type="button" class="btn btn-lg btn-fb waves-effect waves-light"><i class="fa fa-facebook left"></i> Share</button>
                               </div><!-- popular_auction_btn End -->
                           </div><!-- doc_popular_auction_box End -->
                       </div><!-- doc_popular_auction End -->
                   </div><!-- col-md-3 col-sm-3 End -->
                   <div class="col-md-3 col-sm-4">
                       <div class="doc_popular_auction">
                           <div class="doc_popular_auction_box clearfix">
                               <h2>Product Title</h2>
                               <div class="products_img_cont">
                                   <img src="images/live_auction.jpg" alt="live_auction">
                               </div><!-- products_img_cont End -->
                               <div class="products_sub_cont">
                                   <lable class="sub_cont_vauchers">
                                       107 Vouchers
                                   </lable><!-- sub_cont_vauchers End -->
                                   <lable class="sub_cont_time">
                                       00 : 00 : 10
                                   </lable><!-- sub_cont_time End -->
                                   <lable class="sub_cont_lat_bidder">
                                       last bidder
                                   </lable><!-- sub_cont_lat_bidder End -->
                                   <lable class="sub_cont_not">
                                       Not Met
                                   </lable><!-- sub_cont_not End -->
                               </div><!-- products_sub_cont End -->
                               <div class="popular_auction_btn">
                                   <button type="button" class="btn btn-lg btn-fb waves-effect waves-light">bid</button>
                                   <button type="button" class="btn btn-lg btn-fb waves-effect waves-light"><i class="zmdi zmdi-shopping-cart"></i> Add to cart</button>
                                   <button type="button" class="btn btn-lg btn-fb waves-effect waves-light"><i class="fa fa-facebook left"></i> Share</button>
                               </div><!-- popular_auction_btn End -->
                           </div><!-- doc_popular_auction_box End -->
                       </div><!-- doc_popular_auction End -->
                   </div><!-- col-md-3 col-sm-3 End -->
                   <div class="col-md-3 col-sm-4">
                       <div class="doc_popular_auction">
                           <div class="doc_popular_auction_box clearfix">
                               <h2>Product Title</h2>
                               <div class="products_img_cont">
                                   <img src="images/live_auction.jpg" alt="live_auction">
                               </div><!-- products_img_cont End -->
                               <div class="products_sub_cont">
                                   <lable class="sub_cont_vauchers">
                                       107 Vouchers
                                   </lable><!-- sub_cont_vauchers End -->
                                   <lable class="sub_cont_time">
                                       00 : 00 : 10
                                   </lable><!-- sub_cont_time End -->
                                   <lable class="sub_cont_lat_bidder">
                                       last bidder
                                   </lable><!-- sub_cont_lat_bidder End -->
                                   <lable class="sub_cont_not">
                                       Not Met
                                   </lable><!-- sub_cont_not End -->
                               </div><!-- products_sub_cont End -->
                               <div class="popular_auction_btn">
                                   <button type="button" class="btn btn-lg btn-fb waves-effect waves-light">bid</button>
                                   <button type="button" class="btn btn-lg btn-fb waves-effect waves-light"><i class="zmdi zmdi-shopping-cart"></i> Add to cart</button>
                                   <button type="button" class="btn btn-lg btn-fb waves-effect waves-light"><i class="fa fa-facebook left"></i> Share</button>
                               </div><!-- popular_auction_btn End -->
                           </div><!-- doc_popular_auction_box End -->
                       </div><!-- doc_popular_auction End -->
                   </div><!-- col-md-3 col-sm-3 End -->
                   <div class="col-md-3 col-sm-4">
                       <div class="doc_popular_auction">
                           <div class="doc_popular_auction_box clearfix">
                               <h2>Product Title</h2>
                               <div class="products_img_cont">
                                   <img src="images/live_auction.jpg" alt="live_auction">
                               </div><!-- products_img_cont End -->
                               <div class="products_sub_cont">
                                   <lable class="sub_cont_vauchers">
                                       107 Vouchers
                                   </lable><!-- sub_cont_vauchers End -->
                                   <lable class="sub_cont_time">
                                       00 : 00 : 10
                                   </lable><!-- sub_cont_time End -->
                                   <lable class="sub_cont_lat_bidder">
                                       last bidder
                                   </lable><!-- sub_cont_lat_bidder End -->
                                   <lable class="sub_cont_not">
                                       Not Met
                                   </lable><!-- sub_cont_not End -->
                               </div><!-- products_sub_cont End -->
                               <div class="popular_auction_btn">
                                   <button type="button" class="btn btn-lg btn-fb waves-effect waves-light">bid</button>
                                   <button type="button" class="btn btn-lg btn-fb waves-effect waves-light"><i class="zmdi zmdi-shopping-cart"></i> Add to cart</button>
                                   <button type="button" class="btn btn-lg btn-fb waves-effect waves-light"><i class="fa fa-facebook left"></i> Share</button>
                               </div><!-- popular_auction_btn End -->
                           </div><!-- doc_popular_auction_box End -->
                       </div><!-- doc_popular_auction End -->
                   </div><!-- col-md-3 col-sm-3 End -->
                   <div class="col-md-3 col-sm-4">
                       <div class="doc_popular_auction">
                           <div class="doc_popular_auction_box clearfix">
                               <h2>Product Title</h2>
                               <div class="products_img_cont">
                                   <img src="images/live_auction.jpg" alt="live_auction">
                               </div><!-- products_img_cont End -->
                               <div class="products_sub_cont">
                                   <lable class="sub_cont_vauchers">
                                       107 Vouchers
                                   </lable><!-- sub_cont_vauchers End -->
                                   <lable class="sub_cont_time">
                                       00 : 00 : 10
                                   </lable><!-- sub_cont_time End -->
                                   <lable class="sub_cont_lat_bidder">
                                       last bidder
                                   </lable><!-- sub_cont_lat_bidder End -->
                                   <lable class="sub_cont_not">
                                       Not Met
                                   </lable><!-- sub_cont_not End -->
                               </div><!-- products_sub_cont End -->
                               <div class="popular_auction_btn">
                                   <button type="button" class="btn btn-lg btn-fb waves-effect waves-light">bid</button>
                                   <button type="button" class="btn btn-lg btn-fb waves-effect waves-light"><i class="zmdi zmdi-shopping-cart"></i> Add to cart</button>
                                   <button type="button" class="btn btn-lg btn-fb waves-effect waves-light"><i class="fa fa-facebook left"></i> Share</button>
                               </div><!-- popular_auction_btn End -->
                           </div><!-- doc_popular_auction_box End -->
                       </div><!-- doc_popular_auction End -->
                   </div><!-- col-md-3 col-sm-3 End -->
                   <div class="col-md-3 col-sm-4">
                       <div class="doc_popular_auction">
                           <div class="doc_popular_auction_box clearfix">
                               <h2>Product Title</h2>
                               <div class="products_img_cont">
                                   <img src="images/live_auction.jpg" alt="live_auction">
                               </div><!-- products_img_cont End -->
                               <div class="products_sub_cont">
                                   <lable class="sub_cont_vauchers">
                                       107 Vouchers
                                   </lable><!-- sub_cont_vauchers End -->
                                   <lable class="sub_cont_time">
                                       00 : 00 : 10
                                   </lable><!-- sub_cont_time End -->
                                   <lable class="sub_cont_lat_bidder">
                                       last bidder
                                   </lable><!-- sub_cont_lat_bidder End -->
                                   <lable class="sub_cont_not">
                                       Not Met
                                   </lable><!-- sub_cont_not End -->
                               </div><!-- products_sub_cont End -->
                               <div class="popular_auction_btn">
                                   <button type="button" class="btn btn-lg btn-fb waves-effect waves-light">bid</button>
                                   <button type="button" class="btn btn-lg btn-fb waves-effect waves-light"><i class="zmdi zmdi-shopping-cart"></i> Add to cart</button>
                                   <button type="button" class="btn btn-lg btn-fb waves-effect waves-light"><i class="fa fa-facebook left"></i> Share</button>
                               </div><!-- popular_auction_btn End -->
                           </div><!-- doc_popular_auction_box End -->
                       </div><!-- doc_popular_auction End -->
                   </div><!-- col-md-3 col-sm-3 End -->
                   <div class="col-md-12 col-sm-12 col-xs-12">
                     <div class="vw_advertisement_footer">
                         <img src="images/vw_advertisement_footer.jpg" alt="vw_advertisement_footer">
                     </div><!-- vw_advertisement_footer End -->
                 </div>
               </div><!-- row End -->
           </div><!-- popular_auction_content End -->
           <div class="mobi_auctions">
               <h2>Auctions</h2>
                <div id="mobi_auctions" class="owl-carousel owl-theme">
                    <div class="item">
                            <div class="doc_popular_auction">
                                   <div class="doc_popular_auction_box clearfix">
                                       <h2>Product Title</h2>
                                       <div class="products_img_cont">
                                           <img src="images/live_auction.jpg" alt="live_auction">
                                       </div><!-- products_img_cont End -->
                                       <div class="products_sub_cont">
                                           <lable class="sub_cont_vauchers">
                                               107 Vouchers
                                           </lable><!-- sub_cont_vauchers End -->
                                           <lable class="sub_cont_time">
                                               00 : 00 : 10
                                           </lable><!-- sub_cont_time End -->
                                           <lable class="sub_cont_lat_bidder">
                                               last bidder
                                           </lable><!-- sub_cont_lat_bidder End -->
                                           <lable class="sub_cont_not">
                                               Not Met
                                           </lable><!-- sub_cont_not End -->
                                       </div><!-- products_sub_cont End -->
                                       
                                   </div><!-- doc_popular_auction_box End -->
                                   <div class="popular_auction_btn">
                                           <button type="button" class="btn btn-lg btn-fb waves-effect waves-light">bid</button>
                                           <button type="button" class="btn btn-lg btn-fb waves-effect waves-light"><i class="zmdi zmdi-shopping-cart"></i> Add to cart</button>
                                           <button type="button" class="btn btn-lg btn-fb waves-effect waves-light"><i class="fa fa-facebook left"></i> Share</button>
                                       </div><!-- popular_auction_btn End -->
                               </div>
                       </div>
                    <div class="item">
                        <div class="doc_popular_auction">
                                   <div class="doc_popular_auction_box clearfix">
                                       <h2>Product Title</h2>
                                       <div class="products_img_cont">
                                           <img src="images/live_auction.jpg" alt="live_auction">
                                       </div><!-- products_img_cont End -->
                                       <div class="products_sub_cont">
                                           <lable class="sub_cont_vauchers">
                                               107 Vouchers
                                           </lable><!-- sub_cont_vauchers End -->
                                           <lable class="sub_cont_time">
                                               00 : 00 : 10
                                           </lable><!-- sub_cont_time End -->
                                           <lable class="sub_cont_lat_bidder">
                                               last bidder
                                           </lable><!-- sub_cont_lat_bidder End -->
                                           <lable class="sub_cont_not">
                                               Not Met
                                           </lable><!-- sub_cont_not End -->
                                       </div><!-- products_sub_cont End -->
                                       
                                   </div><!-- doc_popular_auction_box End -->
                                   <div class="popular_auction_btn">
                                           <button type="button" class="btn btn-lg btn-fb waves-effect waves-light">bid</button>
                                           <button type="button" class="btn btn-lg btn-fb waves-effect waves-light"><i class="zmdi zmdi-shopping-cart"></i> Add to cart</button>
                                           <button type="button" class="btn btn-lg btn-fb waves-effect waves-light"><i class="fa fa-facebook left"></i> Share</button>
                                       </div><!-- popular_auction_btn End -->
                               </div>
                    </div>
                    <div class="item">
                        <div class="doc_popular_auction">
                                   <div class="doc_popular_auction_box clearfix">
                                       <h2>Product Title</h2>
                                       <div class="products_img_cont">
                                           <img src="images/live_auction.jpg" alt="live_auction">
                                       </div><!-- products_img_cont End -->
                                       <div class="products_sub_cont">
                                           <lable class="sub_cont_vauchers">
                                               107 Vouchers
                                           </lable><!-- sub_cont_vauchers End -->
                                           <lable class="sub_cont_time">
                                               00 : 00 : 10
                                           </lable><!-- sub_cont_time End -->
                                           <lable class="sub_cont_lat_bidder">
                                               last bidder
                                           </lable><!-- sub_cont_lat_bidder End -->
                                           <lable class="sub_cont_not">
                                               Not Met
                                           </lable><!-- sub_cont_not End -->
                                       </div><!-- products_sub_cont End -->
                                       
                                   </div><!-- doc_popular_auction_box End -->
                                   <div class="popular_auction_btn">
                                           <button type="button" class="btn btn-lg btn-fb waves-effect waves-light">bid</button>
                                           <button type="button" class="btn btn-lg btn-fb waves-effect waves-light"><i class="zmdi zmdi-shopping-cart"></i> Add to cart</button>
                                           <button type="button" class="btn btn-lg btn-fb waves-effect waves-light"><i class="fa fa-facebook left"></i> Share</button>
                                       </div><!-- popular_auction_btn End -->
                               </div>
                    </div>
                </div> 
           </div><!-- mobi_auctions End -->
           <div class="mobi_auctions">
               <h2>Popular Products</h2>
                <div id="mobi_popular" class="owl-carousel owl-theme">
                     <div class="item">
                         <div class="popular_auction_box">
                             <img src="images/popular_auction.jpg" alt="popular_auction">
                         </div><!-- popular_auction_box End -->        
                     </div>
                     <div class="item">
                         <div class="popular_auction_box">
                             <img src="images/popular_auction.jpg" alt="popular_auction">
                         </div><!-- popular_auction_box End -->
                     </div>
                     <div class="item">
                         <div class="popular_auction_box">
                             <img src="images/popular_auction.jpg" alt="popular_auction">
                         </div><!-- popular_auction_box End -->
                     </div>
                </div> 
           </div><!-- mobi_auctions End -->
       </div><!-- container End -->
  </div><!-- vw_gallery_main End -->

  <div class="social_main">
      <div class="container">
          <div class="social_content">
               <div class="social_content_box">
                   <a href="javascript:void(0)" class="btn btn-raised face"><i class="fa fa-facebook" aria-hidden="true"></i> Facebook</a>
               </div><!-- social_content_box End -->
               <div class="social_content_box">
                   <a href="javascript:void(0)" class="btn btn-raised go"><i class="fa fa-google-plus" aria-hidden="true"></i> Google</a>
               </div><!-- social_content_box End -->
               <div class="social_content_box">
                   <a href="javascript:void(0)" class="btn btn-raised tw"><i class="fa fa-twitter" aria-hidden="true"></i> Twitter</a>
               </div><!-- social_content_box End -->
               <div class="social_content_box">
                   <a href="javascript:void(0)" class="btn btn-raised yo"><i class="fa fa-youtube" aria-hidden="true"></i> Youtube</a>
               </div><!-- social_content_box End -->
           </div><!-- social_content End -->
      </div><!-- container End -->
  </div><!-- social_main End -->

  