<!DOCTYPE html>
<html>
<head>
<title>VW</title>
 <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<!-- <link rel="stylesheet" type="text/css" href="http://fezvrasta.github.io/bootstrap-material-design/dist/css/ripples.min.css"> -->

<link rel="stylesheet" type="text/css" href="css/bootstrap-material-design.css">
<link rel="stylesheet" href="css/ripples.css">
<link rel="stylesheet" href="css/material-design-iconic-font.css">
<link rel="stylesheet" href="css/font-awesome.min.css">
<link rel="stylesheet" href="css/owl.carousel.css">
<link rel="stylesheet" href="css/owl.theme.css">
<link rel="stylesheet" href="css/owl.transitions.css">
<link rel="stylesheet" href="css/style.css">
</head>
<body>


  <div class="vw_news">
    <div class="container">
      <div class="vw_advertisement_footer">
        <img src="images/vw_advertisement_footer.jpg" alt="vw_advertisement_footer">
      </div>
     <div class="alien_ufo_header">
       <h2>News</h2>
      </div><!-- alien_ufo_header End -->
      <div class="new_main clearfix">
      <label><a href="#">News-1</a></label>
        <div class="news_main_inner clearfix">
          <div class="new_left">
          <div class="news_img">
            <img src="images/alien_galley_info.jpg" alt="alien_galley_info" class="img-responsive">
          </div>
          <button type="button" class="btn btn-lg btn-fb waves-effect waves-light fb-share"><i class="fa fa-facebook left"></i> Share<div class="ripple-container"></div></button>
        </div><!-- new_left End -->
        <div class="new_right">
          <div class="news_content">
            <label><a href="#">News-1</a></label>
            <div class="comment more">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati laboriosam pariatur dignissimos natus odit doloremque delectus atque nihil quia assumenda, perferendis, molestiae illo in! Totam qui vitae fuga blanditiis dicta, iusto, optio iure ducimus earum quibusdam tempora eligendi, aperiam sequi obcaecati maxime, autem. Aperiam aliquam, dolores Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati laboriosam pariatur dignissimos natus odit doloremque delectus atque nihil quia assumenda, perferendis, molestiae illo in! Totam qui vitae fuga blanditiis dicta, iusto, optio iure ducimus earum quibusdam tempora eligendi, aperiam sequi obcaecati maxime, autem. Aperiam aliquam, dolores</p>
            </div>
          </div><!-- news_content End -->
        </div><!-- new_right End -->
        </div><!-- news_main_inner End -->
        <label><a href="#">News-2</a></label>
        <div class="news_main_inner clearfix">
          <div class="new_left">
          <div class="news_img">
            <img src="images/alien_galley_info.jpg" alt="alien_galley_info" class="img-responsive">
          </div>
          <button type="button" class="btn btn-lg btn-fb waves-effect waves-light fb-share"><i class="fa fa-facebook left"></i> Share<div class="ripple-container"></div></button>
        </div><!-- new_left End -->
        <div class="new_right">
          <div class="news_content">
            <label><a href="#">News-2</a></label>
            <div class="comment more">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati laboriosam pariatur dignissimos natus odit doloremque delectus atque nihil quia assumenda, perferendis, molestiae illo in! Totam qui vitae fuga blanditiis dicta, iusto, optio iure ducimus earum quibusdam tempora eligendi, aperiam sequi obcaecati maxime, autem. Aperiam aliquam, dolores Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati laboriosam pariatur dignissimos natus odit doloremque delectus atque nihil quia assumenda, perferendis, molestiae illo in! Totam qui vitae fuga blanditiis dicta, iusto, optio iure ducimus earum quibusdam tempora eligendi, aperiam sequi obcaecati maxime, autem. Aperiam aliquam, dolores</p>
              <p>including versions of Lorem Ipsum.Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type</p>
            	<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text </p>
            </div>
          </div><!-- news_content End -->
        </div><!-- new_right End -->
        </div><!-- news_main_inner End -->
      </div><!-- new_main End -->
      <div class="vw_advertisement_footer">
        <img src="images/vw_advertisement_footer.jpg" alt="vw_advertisement_footer">
      </div>
      <div class="new_main clearfix">
      <label><a href="#">News-3</a></label>
        <div class="news_main_inner clearfix">
          <div class="new_left">
          <div class="news_img">
            <img src="images/alien_galley_info.jpg" alt="alien_galley_info" class="img-responsive">
          </div>
          <button type="button" class="btn btn-lg btn-fb waves-effect waves-light fb-share"><i class="fa fa-facebook left"></i> Share<div class="ripple-container"></div></button>
        </div><!-- new_left End -->
        <div class="new_right">
          <div class="news_content">
            <label><a href="#">News-3</a></label>
            <div class="comment more">
            	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati laboriosam pariatur dignissimos natus odit doloremque delectus atque nihil quia assumenda, perferendis, molestiae illo in! Totam qui vitae fuga blanditiis dicta, iusto, optio iure ducimus earum quibusdam tempora eligendi, aperiam sequi obcaecati maxime, autem. Aperiam aliquam, dolores Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati laboriosam pariatur dignissimos natus odit doloremque delectus atque nihil quia assumenda, perferendis, molestiae illo in! Totam qui vitae fuga blanditiis dicta, iusto, optio iure ducimus earum quibusdam tempora eligendi, aperiam sequi obcaecati maxime, autem. Aperiam aliquam, dolores</p>
            </div>
          </div><!-- news_content End -->
        </div><!-- new_right End -->
        </div><!-- news_main_inner End -->
        <label><a href="#">News-4</a></label>
        <div class="news_main_inner clearfix">
          <div class="new_left">
          <div class="news_img">
            <img src="images/alien_galley_info.jpg" alt="alien_galley_info" class="img-responsive">
          </div>
          <button type="button" class="btn btn-lg btn-fb waves-effect waves-light fb-share"><i class="fa fa-facebook left"></i> Share<div class="ripple-container"></div></button>
        </div><!-- new_left End -->
        <div class="new_right">
          <div class="news_content">
            <label><a href="#">News-4</a></label>
            <div class="comment more">
            	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati laboriosam pariatur dignissimos natus odit doloremque delectus atque nihil quia assumenda, perferendis, molestiae illo in! Totam qui vitae fuga blanditiis dicta, iusto, optio iure ducimus earum quibusdam tempora eligendi, aperiam sequi obcaecati maxime, autem. Aperiam aliquam, dolores Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati laboriosam pariatur dignissimos natus odit doloremque delectus atque nihil quia assumenda, perferendis, molestiae illo in! Totam qui vitae fuga blanditiis dicta, iusto, optio iure ducimus earum quibusdam tempora eligendi, aperiam sequi obcaecati maxime, autem. Aperiam aliquam, dolores</p>
            </div>
          </div><!-- news_content End -->
        </div><!-- new_right End -->
        </div><!-- news_main_inner End -->
      </div><!-- new_main End -->
      <div class="vw_advertisement_footer">
        <img src="images/vw_advertisement_footer.jpg" alt="vw_advertisement_footer">
      </div><!-- vw_advertisement_footer End -->
      <div class="cst_pagination">
            <ul class="pagination pagination-sm">
              <li class="disabled"><a href="javascript:void(0)"></a></li>
              <li class="active"><a href="javascript:void(0)">1</a></li>
              <li><a href="javascript:void(0)">2</a></li>
              <li><a href="javascript:void(0)">3</a></li>
              <li><a href="javascript:void(0)">4</a></li>
              <li><a href="javascript:void(0)">5</a></li>
              <li><a href="javascript:void(0)">6</a></li>
              <li><a href="javascript:void(0)">7</a></li>
              <li><a href="javascript:void(0)" class="rt_pagn"><img src="images/right_pagination.png" alt="right_pagination" class="img-responsive"></a></li>
            </ul><!-- End pagination -->
          </div><!-- End cst_pagination -->
    </div><!-- container End -->
  </div><!-- vw_news End -->

  <div class="social_main">
      <div class="container">
          <div class="social_content">
               <div class="social_content_box">
                   <a href="javascript:void(0)" class="btn btn-raised face"><i class="fa fa-facebook" aria-hidden="true"></i> Facebook</a>
               </div><!-- social_content_box End -->
               <div class="social_content_box">
                   <a href="javascript:void(0)" class="btn btn-raised go"><i class="fa fa-google-plus" aria-hidden="true"></i> Google</a>
               </div><!-- social_content_box End -->
               <div class="social_content_box">
                   <a href="javascript:void(0)" class="btn btn-raised tw"><i class="fa fa-twitter" aria-hidden="true"></i> Twitter</a>
               </div><!-- social_content_box End -->
               <div class="social_content_box">
                   <a href="javascript:void(0)" class="btn btn-raised yo"><i class="fa fa-youtube" aria-hidden="true"></i> Youtube</a>
               </div><!-- social_content_box End -->
           </div><!-- social_content End -->
      </div><!-- container End -->
  </div><!-- social_main End -->

  <div class="mb_social">
    <div class="container">
      <div class="mb_sicon">
        <ul>
          <li>
            <div class="m_fb"><a href="#" class="fb"><i class="fa fa-facebook" aria-hidden="true"></i></a>
            </div>
          </li>
          <li>
            <div class="m_gp"><a href="#" class="fb"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
            </div>
          </li>
          <li>
            <div class="m_tw"><a href="#" class="fb"><i class="fa fa-twitter" aria-hidden="true"></i></a>
            </div>
          </li>
          <li>
            <div class="m_yt"><a href="#" class="fb"><i class="fa fa-youtube" aria-hidden="true"></i></a>
            </div>
          </li>
        </ul>
      </div><!-- mb_sicon End -->
      <div class="cst_conditions">
        <ul>
          <li><a href="#" class="condtn_name">Privacy & Policy</a></li>
          <li><a href="#" class="condtn_name">Terms & Service</a></li>
        </ul>
      </div><!-- cst_conditions End -->
    </div><!-- container End -->
  </div><!-- mb_social End -->

  <div class="footer_advt">
    <img src="images/footer_advertise.png" alt="advertisement">
    <span><i class="fa fa-times" aria-hidden="true"></i></span>    
  </div><!-- footer_advt End -->
    
<div class="modal fade forgotpass_modal refer_modal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="vertical-alignment-helper">
        <div class="modal-dialog vertical-align-center">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><i class="zmdi zmdi-close"></i></button>
                </div>
                <h4 class="modal-title" id="myModalLabel">Refer to a friend</h4>
                <div class="modal-body">
                    <div class="form-group label-floating is-empty">
                         <i class="zmdi zmdi-account-o"></i>
                         <label for="i5i" class="control-label">Friend Name</label>
                         <input type="email" class="form-control" id="i5i">
                    </div>
                    <div class="form-group label-floating is-empty">
                         <i class="fa fa-envelope-o" aria-hidden="true"></i>
                         <label for="i5i" class="control-label">Email</label>
                         <input type="email" class="form-control" id="i5i">
                    </div>
                    <div class="form-group">
                        <label for="comment" class="message">Message</label>
                        <textarea class="form-control" rows="5" id="comment"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Submit</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade forgotpass_modal refer_modal" id="comment-popup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="vertical-alignment-helper">
        <div class="modal-dialog vertical-align-center">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">Comment:</h4>
                    <button type="button" class="close" data-dismiss="modal"><i class="zmdi zmdi-close"></i></button>
                </div>
                
                <div class="modal-body">
                    <div class="form-group">
                        <i class="zmdi zmdi-star-outline"></i><i class="zmdi zmdi-star-outline"></i>
                        <i class="zmdi zmdi-star-outline"></i><i class="zmdi zmdi-star-outline"></i>
                        <i class="zmdi zmdi-star-outline"></i>
                        <textarea class="form-control" rows="10" id="comment"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Submit</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="js/owl.carousel.js"></script>
<script src="js/ripples.js"></script>
<script src="js/jquery.easydropdown.min.js"></script>
<script src="js/material.min.js"></script>
<script src="js/main.js"></script>
<script>
  $(document).ready(function() {
  var showChar = 300;
  var ellipsestext = "...";
  var moretext = "Read More..";
  var lesstext = "Read less..";
  $('.more').each(function() {
    var content = $(this).html();

    if(content.length > showChar) {

      var c = content.substr(0, showChar);
      var h = content.substr(showChar-1, content.length - showChar);

      var html = c + '<span class="moreelipses">'+ellipsestext+'</span>&nbsp;<span class="morecontent"><span>' + h + '</span>&nbsp;&nbsp;<a href="" class="morelink">'+moretext+'</a></span>';

      $(this).html(html);
    }

  });

  $(".morelink").click(function(){
    if($(this).hasClass("less")) {
      $(this).removeClass("less");
      $(this).html(moretext);
    } else {
      $(this).addClass("less");
      $(this).html(lesstext);
    }
    $(this).parent().prev().toggle();
    $(this).prev().toggle();
    return false;
  });
});
</script>
<script>
</script>
</body>
</html>